alabaster
colorama
control
ipympl
ipython
ipywidgets
jupyter-book
jupyter-cache
jupyter-http-over-ws
jupytext
markdown-it-py       
matplotlib
mdit-py-plugins
myst-nb
numpy
pandas
sphinx
pydata-sphinx-theme==0.13.1
sphinx-book-theme
scipy
sympy
