alabaster
colorama
control
ipympl
ipython
ipywidgets
jupyter-book
jupyter-cache
jupyter-http-over-ws
jupytext
markdown-it-py       
matplotlib
mdit-py-plugins
myst-nb
numpy
pandas
pydata-sphinx-theme
scipy
sympy
